<body style="background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(<%= asset_path "login.jpg" %>);height: 100%;" >
<section>
        <div class="login-container">

            <div class="container text-center">

                <div class="mt-5 title">
                    Resend Email
                    <div>
                    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
<div class="notify">
  <% if resource.errors.any? %>
  <div class="alert alert-danger position-fixed" role="alert" style="width:90%"
  id="error_explanation">

      <% resource.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
  </div>
<% end %>
</div>
                    </div>
                </div>

                <div class="mt-5 container-fluid">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),class:"mt-5 username", placeholder: "Email"%>
                    <div class="mt-5 text-center">
                         <%= f.submit "Resend confirmation",class:"mt-5 container-fluid d-block resend-button " %>
                          <% end %>
                    <div class="mt-5 ">
                    <%= render "users/shared/links"%>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
</body>