
<section>
        <div class="login-container">

            <div class="container text-center">

                <div class="mt-0 pt-3 title">
                    Login
                </div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="mt-5 container-fluid">
                     <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"mt-5 username", placeholder: "Email"   %>
                     <%= f.password_field :password, autocomplete: "current-password" ,class:"mt-2 password", placeholder: "Password" %>
                      <% if devise_mapping.rememberable? %>
                      <%= f.check_box :remember_me ,class:"m-2 d-inline" %>
                      <%= f.label :remember_me %>
                      <% end %>
                    <div class="mt-5 text-center">
                         <%= f.submit "Login" ,class:"container-fluid login-button d-block" %>
                          <% end %>
                    <div class="mt-5">
                    <%= render "users/shared/links"%>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>