
<div class="mt-5 row">


<p class="col-md-10">
  <%= image_tag(@book.picture_url, class:"show-img") if @book.picture.present? %>
</p>
<p class="col-md-2 show-details ">
  <strong>Title:</strong>
  <%= @book.title %>
<br>
  <strong>Author:</strong>
  <%= @book.author %>	
<br>
<br>
  <strong>Description:</strong>
  <%= @book.description %> 
</p>
</div>	
<div class="option-button-container text-center d-inline">
<%= link_to 'Edit', edit_book_path(@book),class:"option-button-edit" %> |
<%= link_to 'Back', books_path ,class:"option-button-back"%>
</div>
 <%= render partial: 'reviews/form', locals: { review: @review } %>
 
<p>
<h3 class="mt-5 container-fluid review-title text-center h1 font-weight-lighter">Reviews</h3>
	<div style="margin-top:200px">
	<% @reviews.each do |review| %>
	  <div class="container review-show">
	    <p style="padding-top:10px; font-weight:300;font-size:30px"><%= review.title %></p>
	    <p><%= review.description%></p>
		<div class="d-flex pt-2 button-container">
	    <p><%= link_to 'More', review,class:"mr-3 more-button" %></p>
	    <p><%= link_to 'Delete', review_path(review), method: :delete, data: { confirm: 'Are you sure?' } ,class:"mr-2 delete-button" %></p>
		</div>
	  </div>
	</div>
	<% end %>
	</div>
</p>